/* Boring Stuff */
html{
	height: 100%;
}

body{
	/*font-family: Arial, Helvetica, 'Helvetica Neue', Helvetica, Arial, sans-serif; */
	font-family: /* 'Quantico' */, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
	height: 100%;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	background-color: #fff;
	overflow: hidden;
	position: relative;
	color:#444444;
	text-transform:none !important;
}

a {
	text-decoration: none;
	color: #0F5FA8;
}
a:visited{
	color: #0F5FA8;
}

.small{
	font-size:12px;
}

.quiet {
	color:#BBB;
}

.left {float:left; }
.right {float:right;}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

/* App CSS */

#content {
    position: absolute;
    background: #ddd;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.header{
	-webkit-background-size: 1px 50px;
	-moz-background-size: 1px 50px;
	-ms-background-size: 1px 50px;
	-o-background-size: 1px 50px;
	background-size: 1px 50px;
	height: 50px;
	line-height: 50px;
	width: 100%;
	color: #444;
	background-color: #333;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	margin-bottom: 7px;
	padding:0 10px;
}

.header h1{
	padding: 0;
	/* text-align: center; */
	font-size: 20px;
	font-weight:bold;
	/* text-shadow: 0 -1px rgba(255,255,255, .7); */
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	color:white;
	/*background-image:-webkit-gradient(linear,left top,left bottom,from(#5A5A5A),to(#020202));
	background-image: -o-linear-gradient(center bottom,#457D36,#7AC066); */
	position:relative;
}

.header-button{
	position: absolute;
	z-index:2;
	top: 8px;
	line-height:1em;
}

.header-button-left{
	left: 5px;
}

.header-button-right{
	right: 5px;
}

.header .popdown{
	position:absolute;
	z-index:1000;
	top:55px; 
	border:2px solid rgb(100, 100, 100);
	border-radius:6px;
	width:45%;
	background-color:rgb(240, 240, 240);
}

.header .popdown.right{
	right:5px;
}
.header .popdown.left{
	left:5px;
}

.header ul{
	list-style:none;
	padding: 5px 10px;
	margin:0;
}

.header ul li:not(:last-child){
	border-bottom: 1px dotted lightgrey;
}

#sort-list ul li.selected{
	color: #2E7AC0;
	font-weight: bold;
}

.scroll{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background-color: #e2e7ed;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
    position: absolute;
    top: 50px;
	bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url(assets/grey-grid.png);
}

.tableview{
	margin: 5px 10px 10px;
	padding: 0;
	list-style: none;
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
	border-radius: 5px;
	box-shadow: 0 0 15px -4px #BBB;
}
.tableview li{
	display: block;
	background-color:rgb(250, 250, 250);
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #e0e0e0;
	padding: 10px;
}

.tableview li:first-child {
	border-radius:5px 5px 0 0;
}
.tableview li:last-child {
	border-bottom:none;
	border-radius:0 0 5px 5px;
}

.tableview-links li{
	padding: 0;
	display: -webkit-box;
	/*width: 100%;*/
	height:45px;
}

.tableview-links li>a{
	color:#333333;
	width:100%;
	display:block;
}

.tableview-links li>a *{
	pointer-events: none;
}

.tableview-links li>a.tappable-active{
	color: #fff;
	background-color: #4286f5;
	background-repeat: repeat-x;
}
.tableview-links li>a.tappable-active *{
	color: #fff;
}

.tableview-links li .loop-list-item-holder{
	width:100%;
}

.tableview-links li .tappable-active{
	color: #fff;
	background-color: #4286f5;
	background-repeat: repeat-x;
}
.tableview-links li>a.tappable-active *{
	color: #fff;
}

.tableview-links li .rowdata{
	height:45px;
	width:100%;
	vertical-align:top;
}

.tableview-links li .rowdata .meta-data{
	display:inline-block;
	padding:5px 0;
	height: 35px;
}

.tableview-links li .rowdata .title{
	text-overflow: ellipsis;
	/*font-weight: bold;*/
	font-size:16px;
}

.tableview-links li .rowdata .no-artist{
	padding:10px 0;
	height:25px;
}

.tableview-links li .rowdata .bpm{
	padding:10px;
	height:25px;
	/*font-weight:bold;*/
}

.tableview-links li img{
	height:45px;
	margin: 0 5px 0 0;
	float:left;
	border-radius:3px;
}

/* Buttons */

.btn {
	padding: 8px 15px;
	border:solid 1px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-sizing:border-box;
	display:inline-block;
	font-weight:bold;
	min-width:50px;
	overflow:hidden;
	text-overflow:ellipsis;
	color: #FFF;
	border-color: rgb(58, 58, 60) rgb(87, 87, 87) rgb(105, 105, 105);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .35);
}

.btn:active {
	position:relative;
	top:1px;
}